<%- include("partials/header"); -%>

<div class="container form-login">
<form class="form-signin">
    <h1 class="h2 mb-3 " style="text-align: center"> Login </h1>
    <div class="social-btn">
        <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign in with Google+</span> </button>
    </div>
    <hr>
    <p style="text-align:center"> OR  </p>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    
    <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Sign in</button>
    <hr>
    <p style="text-align:center">Don't have an account!</p> 
    <a class="btn btn-primary btn-block" type="button"  href="/register"><i class="fas fa-user-plus"></i> Register</a>
    </form>
</div>

<%- include("partials/footer"); -%>