.navbar-brand {
    font-size: 2rem;
}
nav li{
    padding: 0 10px 0 10px;
}

h1,h2{
    margin-bottom: 1rem;
}
.main-content{
   margin-top:20px;
   /*max-width: 1000px;*/
   padding: 60px;
   /*border: 2px solid red;*/
}
.home-page-box{
    background: none;  /* fallback for old browsers */
    margin-bottom: 25px;
    border: .3px solid rgba(46, 45, 45, 0.493);
    font-weight: 450;
    border: 2px solid green;
    width: 100%;
}
.home-page-box h2{
    padding: 10px;
    border-bottom: .3px solid rgba(46, 45, 45, 0.493);   
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.box-title{
    color: white;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.home-page-box p{
    padding: 0 10px 10px 15px ;
}
.author{
    padding: 0 10px 10px 0px ;
    margin-left: 1rem;
}
.author span{
    font-weight: 500;
}
.particularPost{
    padding: 20px;
}
.auth{
    width: 100%;
    display: flex;
    justify-content: center;
}
.form-login{
    background-color: rgb(253, 252, 252);
    height: 450px;
}
.form-signin{
    width: 70%;
}
.form-control{
}
.form-login h1{
    padding: 10px;
}

.social-btn button{
    margin: 0 auto;
    background-color: #db4a39;
    width: 100%;
}

/*Profile*/
.profileSection{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid purple;
}

.profilePrimaryHeading{
    padding: 20px;
}

@media (max-width:1000px){
    .navbar-brand {
        font-size: 1.5rem;
    }
}
@media (max-width:550px){
    .navbar-brand {
        font-size: 1.5rem;
    }
    .main-content{
        width: 100%;
        margin-top:10px;
        padding: 30px;
    }
    .form-signin{
        width: 80%;
    }
}
@media (max-width:475px){
    .main-content{
        width: 100%;
        margin-top:10px;
        padding: 20px;
    }
    .form-signin{
        width: 100%;
    }
}